<h1 id="resource_index_title">Welcome to the device page</h1>


<div class="index_form_containers">
  <h1 class="titles_index_page">Search for a device's notes</h1>
  <form id="feed_form"action="/formpage" method="POST">
    <div>
      <label id="start_date_label" >Device Name</label>
      <input id='start_date_field' type="text" name="devicename" placeholder="eg: hub_ethernet_cosy" value=" ">
    </div>
    <input id="feed_search_button" type="submit" value="Search">
  </form>
</div>
